$utilities: map-merge(
  $utilities,
  // bootstrap_utilities.scss 一定要引入，不然會沒辦法使用原本的通用類別
  (
      "font-size": (
        rfs: false,
        responsive: true,
        //ann
        property: font-size,
        class: fs,
        values: $font-sizes,
      ),
      "letter-spacing": (
        responsive: true,
        property: letter-spacing,
        class: ls,
        values: (
          1: 1.2px,
          //ann
          9: 0.9px,
          //ann
          125: 125%,
          //ann
          133: 133.33%,
          //ann
        ),
      ),
    )
);