@mixin tab {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 576px) {
    @content;
  }
}

.bdrs-4 {
  border-radius: 4px;
}

.ff-nsst {
  font-family: "Noto Sans TC", sans-serif;
}

.ff-nsft {
  font-family: "Noto Serif TC", serif;
}

.link__tag {
  border-top: 1px solid $primary;
  border-bottom: 1px solid $primary;
  border-right: 1px solid $primary;
  border-left: 4px solid $primary;

  &:hover {
    background: $primary;
    border-left: 4px solid $secondary;
    color: #fff;
  }
}

.link-color-y-hover {
  &:hover {
    color: #9c9e18 !important;
  }

  &:focus {
    color: #9c9e18 !important;
  }
}

.link-color-ly-hover {
  &:hover {
    color: $secondary !important;
  }

  &:focus {
    color: $secondary !important;
  }
}

.link-color-s-hover {
  &:hover {
    color: $secondary;
  }

  &:focus {
    color: $secondary;
  }
}

.input__hover {
  input::placeholder {
    color: #4F4F4F;
  }
}

.transform-5-5-4 {
  transform: translate(-50%, -50%) rotate(-4deg);
}

.ar-1-1 {
  width: 100%;
  aspect-ratio: 1/1;
}

.w-674 {
  max-width: 674px;
}

.vh-calc {
  height: calc(100vh - 130px - 93px - 60px);
}

.was-validated .form-control:invalid,
.was-validated .form-control:invalid:focus {
  border-color: $other;
}