<li class="col-md-3 col-10 text-center d-flex flex-column">
  <div
    class="activity__item--card border border-2 border-primary position-relative p-7 d-flex flex-column flex-grow-1"
  >
    <span
      class="activity__item--title bg-white text-black fs-6 ff-nsft fw-bold py-2 px-3 text-center position-absolute top-0 start-50 z-1 transform-5-5-4"
    >
      社群活動
    </span>
    <div class="activity__item--block d-flex mb-md-3 mb-7">
      <img
        src="../assets/images/album/01.jpg"
        alt="activity"
        class="activity__item--img img-fluid"
      />
    </div>
    <p class="text-start m-0 mb-4 ff-nsft">無聲派對-閉閉嘴dancing</p>
  </div>
</li>
<li class="col-md-3 col-10 text-center d-flex flex-column">
  <div
    class="activity__item--card border border-2 border-primary position-relative p-7 d-flex flex-column flex-grow-1"
  >
    <span
      class="activity__item--title bg-white text-black fs-6 ff-nsft fw-bold py-2 px-3 text-center position-absolute top-0 start-50 transform-5-5-4 z-1"
    >
      藝文活動
    </span>
    <div class="activity__item--block d-flex mb-md-3 mb-7">
      <img
        src="../assets/images/album/02.jpg"
        alt="activity"
        class="activity__item--img img-fluid"
      />
    </div>
    <p class="text-start m-0 mb-4 ff-nsft">拯救老店大作戰</p>
  </div>
</li>
<li class="col-md-3 col-10 text-center d-flex flex-column">
  <div
    class="activity__item--card border border-2 border-primary position-relative p-7 d-flex flex-column flex-grow-1"
  >
    <span
      class="activity__item--title bg-white text-black fs-6 ff-nsft fw-bold py-2 px-3 text-center position-absolute top-0 start-50 transform-5-5-4 z-1"
    >
      自我覺察
    </span>
    <div class="activity__item--block d-flex mb-md-3 mb-7">
      <img
        src="../assets/images/album/03.jpg"
        alt="activity"
        class="activity__item--img img-fluid"
      />
    </div>
    <p class="text-start m-0 mb-4 ff-nsft">內觀修行-部落篇</p>
  </div>
</li>
<li class="col-md-3 col-10 text-center d-flex flex-column">
  <div
    class="activity__item--card border border-2 border-primary position-relative p-7 d-flex flex-column flex-grow-1"
  >
    <span
      class="activity__item--title bg-white text-black fs-6 ff-nsft fw-bold py-2 px-3 text-center position-absolute top-0 start-50 transform-5-5-4 z-1"
    >
      聯誼活動
    </span>
    <div class="activity__item--block d-flex mb-md-3 mb-7">
      <img
        src="../assets/images/album/04.jpg"
        alt="activity"
        class="activity__item--img img-fluid ar-1-1"
      />
    </div>
    <p class="text-start m-0 mb-4 ff-nsft">賞櫻野餐</p>
  </div>
</li>
