<ul class="event__item--link col-12 list-unstyled d-flex gap-2 flex-wrap mb-6" >
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >演出</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >音樂 </a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >舞蹈</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >戲劇</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >音樂會</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >課程講座</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >社群活動</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >展覽</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >研討會</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >電影</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >電音派對</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >遊戲競賽</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >親子</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >藝文活動</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >運動</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >交通旅遊</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >美食</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >資訊科技</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >聯誼</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >戶外</a
       >
    </li>
    <li>
           <a
         href="#"
         class="link__tag  py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft"
         >線上活動</a
       >
    </li>
   </ul>