<footer
  class="border-top border-3  border-primary"
>
  <div class="container py-md-6 py-4">
    <p class="text-center fs-md-6 fs-7 ff-nsst fw-normal">
      © 7TAO七逃. All Rights Reserved
    </p>
  </div>
</footer>
