<footer
  class="border border-3 border-start-0 border-end-0 border-bottom-0 border-primary"
>
  <div class="container py-md-6 py-4">
    <p class="text-center fs-md-6 fs-7 ff-nsst">
      © 7TAO七逃. All Rights Reserved
    </p>
  </div>
</footer>
