<div
  class="marquee__block bg-black border border-3 border-primary text-secondary ff-nsft fs-md-2 fs-6 py-md-4 py-3"
>
  <div class="marquee__item d-flex">
    <div class="marquee__contain">
      <span
        >・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</span
      >
    </div>
    <div class="marquee__contain">
      <span
        >・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</span
      >
    </div>
    <div class="marquee__contain">
      <span
        >・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</span
      >
    </div>
    <div class="marquee__contain">
      <span
        >・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</span
      >
    </div>
    <div class="marquee__contain">
      <span
        >・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</span
      >
    </div>
  </div>
</div>
