<div class="modal fade" id="modal__join--member" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg ">
      <div class="modal-content text-center rounded-0 border border-3 border-primary">
        <div class="modal-header border-bottom border-3 border-primary">
          <h4 class="modal-title fs-4 fw-bold mx-auto ff-nsft ls-1">立刻成為7TAO會員</h4>
          <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-md-5 py-6">
          <p class="text-black fs-6 ff-nsst fw-normal lh-base mb-4">
            立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
            您也可以先報名活動，日後再註冊帳號，<br>
            系統會在認證您的Email後，協助您找回舊的訂單。
          </p>
          <button type="button" class="btn btn-primary px-6 py-2 modal-btn rounded-0 text-secondary fs-5 ff-nsst fw-bold">立即成為會員</button>
        </div>
      </div>
    </div>
  </div>