<li class="recent__item--card col-md-4 col-12 d-flex">
  <div class="card bg-t border-0">
    <a href="single_event_page.html" class=" d-flex flex-column flex-grow-1">
      <div class="card-header bg-t px-0 py-0">
        <p class="card-title fs-md-10 fs-2 border-bottom border-3 border-primary mb-md-7 mb-3 fw-normal">
          19 MAY 2023
        </p>

        <div class="recent__item--block">
          <img src="../assets/images/event/01.jpg" class="card-img-top recent__item--img" alt="event" />
        </div>
      </div>
      <div class="card-body px-0 pt-md-7 pb-3 pt-2 border-bottom border-2 border-primary">
        <p class="fs-md-4 fs-8 ff-nsft fw-bold pb-md-7 pb-2">邪典電影派對——房間</p>
        <p class="card-text ff-nsst fw-normal d-md-block d-none ">
          你有聽說過「大災難家」裡面的主角 Tommy Wiseau
          製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...
        </p>
        <p class="card-text ff-nsst fw-normal d-md-none d-block ">
          你有聽說過「大災難家」裡面的主角 Tommy Wiseau
          製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，...
        </p>
      </div>
    </a>
    <div
      class="card-footer bg-t px-0 py-md-7 py-2 d-flex justify-content-between border-bottom border-2 border-primary border-top-0">
      <div class="d-flex">
        <img src="../assets/images/sparkler.png" alt="sparkler" class="recent__item--sTitle me-1" />
        <a href="#"
          class="fs-6 ff-nsft text-decoration-underline text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-100-hover">社群活動</a>
      </div>

      <a class="d-flex align-items-center position-relative  ff-nsst fw-bold" data-bs-toggle="modal"
        href="#modal__join--member">
        <span class="link-bgc-y-hover z-1">開賣中 &raquo;</span>
      </a>
    </div>
  </div>
</li>

<li class="recent__item--card col-md-4 col-12 d-flex">
  <div class="card bg-t border-0">
    <a href="single_event_page.html" class=" d-flex flex-column flex-grow-1">
      <div class="card-header bg-t px-0 py-0">
        <p class="card-title fs-md-10 fs-2 border-bottom border-3 border-primary mb-md-7 mb-3 fw-normal">
          23 MAY 2023
        </p>
        <div class="recent__item--block">
          <img src="../assets/images/event/02.jpg" class="card-img-top recent__item--img" alt="event" />
        </div>
      </div>
      <div class="card-body px-0 pt-md-7 pb-3 pt-2 border-bottom border-2 border-primary">
        <p class="fs-md-4 fs-8 ff-nsft fw-bold pb-md-7 pb-2">怪舞俱樂部</p>
        <p class="card-text ff-nsst fw-normal d-md-block d-none ">
          覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...
        </p>
        <p class="card-text ff-nsst fw-normal d-md-none d-block ">
          覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一...
        </p>
      </div>
    </a>
    <div
      class="card-footer bg-t px-0 py-md-7 py-2 d-flex justify-content-between border-bottom border-2 border-primary border-top-0">
      <div class="d-flex">
        <img src="../assets/images/sparkler.png" alt="sparkler" class="recent__item--sTitle me-1" />
        <a href="#"
          class="fs-6 ff-nsft text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-100-hover">演出</a>
      </div>

      <a class="d-flex align-items-center position-relative  ff-nsst fw-bold" data-bs-toggle="modal"
        href="#modal__join--member">
        <span class="link-bgc-y-hover z-1">檢視活動 &raquo;</span>
      </a>
    </div>
  </div>
</li>

<li class="recent__item--card col-md-4 col-12 d-flex">
  <div class="card bg-t border-0">
    <a href="single_event_page.html" class=" d-flex flex-column flex-grow-1">
      <div class="card-header bg-t px-0 py-0">
        <p class="card-title fs-md-10 fs-2 border-bottom border-3 border-primary mb-md-7 mb-3 fw-normal">
          30 MAY 2023
        </p>
        <div class="recent__item--block">
          <img src="../assets/images/event/03.jpg" class="card-img-top recent__item--img" alt="event" />
        </div>
      </div>
      <div class="card-body px-0 pt-md-7 pb-3 pt-2 border-bottom border-2 border-primary">
        <p class="fs-md-4 fs-8 ff-nsft fw-bold pb-md-7 pb-2">哈利波特馬拉松</p>
        <p class="card-text ff-nsst fw-normal d-md-block d-none ">
          每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...
        </p>
        <p class="card-text ff-nsst fw-normal d-md-none d-block ">
          每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿...
        </p>
      </div>
    </a>
    <div
      class="card-footer bg-t px-0 py-md-7 py-2 d-flex justify-content-between border-bottom border-2 border-primary border-top-0">
      <div class="d-flex">
        <img src="../assets/images/sparkler.png" alt="sparkler" class="recent__item--sTitle me-1" />
        <a href="#"
          class="fs-6 ff-nsft text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-100-hover">聯誼</a>
      </div>

      <a class="d-flex align-items-center position-relative  ff-nsst fw-bold" data-bs-toggle="modal"
        href="#modal__join--member">
        <span class="link-bgc-y-hover z-1">開賣中 &raquo;</span>
      </a>
    </div>
  </div>
</li>

<li class="recent__item--card col-md-4 col-12 d-flex">
  <div class="card bg-t border-0">
    <a href="single_event_page.html" class=" d-flex flex-column flex-grow-1">
      <div class="card-header bg-t px-0 py-0">
        <p class="card-title fs-md-10 fs-2 border-bottom border-3 border-primary mb-md-7 mb-3 fw-normal">
          12 June 2023
        </p>
        <div class="recent__item--block">
          <img src="../assets/images/event/04.jpg" class="card-img-top recent__item--img" alt="event" />
        </div>
      </div>
      <div class="card-body px-0 pt-md-7 pb-3 pt-2 border-bottom border-2 border-primary">
        <p class="fs-md-4 fs-8 ff-nsft fw-bold pb-md-7 pb-2">皮卡丘排球大賽</p>
        <p class="card-text ff-nsst fw-normal d-md-block d-none ">
          還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...
        </p>
        <p class="card-text ff-nsst fw-normal d-md-none d-block ">
          還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方...
        </p>
      </div>
    </a>
    <div
      class="card-footer bg-t px-0 py-md-7 py-2 d-flex justify-content-between border-bottom border-2 border-primary border-top-0">
      <div class="d-flex">
        <img src="../assets/images/sparkler.png" alt="sparkler" class="recent__item--sTitle me-1" />
        <a href="#"
          class="fs-6 ff-nsft text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-100-hover">遊戲競賽</a>
      </div>

      <a class="d-flex align-items-center position-relative  ff-nsst fw-bold" data-bs-toggle="modal"
        href="#modal__join--member">
        <span class="link-bgc-y-hover z-1">開賣中 &raquo;</span>
      </a>
    </div>
  </div>
</li>

<li class="recent__item--card col-md-4 col-12 d-flex">
  <div class="card bg-t border-0">
    <a href="single_event_page.html" class=" d-flex flex-column flex-grow-1">
      <div class="card-header bg-t px-0 py-0">
        <p class="card-title fs-md-10 fs-2 border-bottom border-3 border-primary mb-md-7 mb-3 fw-normal">
          25 June 2023
        </p>
        <div class="recent__item--block">
          <img src="../assets/images/event/05.jpg" class="card-img-top recent__item--img" alt="event" />
        </div>
      </div>
      <div class="card-body px-0 pt-md-7 pb-3 pt-2 border-bottom border-2 border-primary">
        <p class="fs-md-4 fs-8 ff-nsft fw-bold pb-md-7 pb-2">酒精路跑</p>
        <p class="card-text ff-nsst fw-normal d-md-block d-none ">
          身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
        </p>
        <p class="card-text ff-nsst fw-normal d-md-none d-block ">
          身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極...
        </p>
      </div>
    </a>
    <div
      class="card-footer bg-t px-0 py-md-7 py-2 d-flex justify-content-between border-bottom border-2 border-primary border-top-0">
      <div class="d-flex">
        <img src="../assets/images/sparkler.png" alt="sparkler" class="recent__item--sTitle me-1" />
        <a href="#"
          class="fs-6 ff-nsft text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-100-hover">社群活動</a>
      </div>

      <a class="d-flex align-items-center position-relative  ff-nsst fw-bold" data-bs-toggle="modal"
        href="#modal__join--member">
        <span class="link-bgc-y-hover z-1">開賣中 &raquo;</span>
      </a>
    </div>
  </div>
</li>

<li class="recent__item--card col-md-4 col-12 d-flex">
  <div class="card bg-t border-0">
    <a href="single_event_page.html" class=" d-flex flex-column flex-grow-1">
      <div class="card-header bg-t px-0 py-0">
        <p class="card-title fs-md-10 fs-2 border-bottom border-3 border-primary mb-md-7 mb-3 fw-normal">
          9 July 2023
        </p>
        <div class="recent__item--block">
          <img src="../assets/images/event/06.jpg" class="card-img-top recent__item--img" alt="event" />
        </div>
      </div>
      <div class="card-body px-0 pt-md-7 pb-3 pt-2 border-bottom border-2 border-primary">
        <p class="fs-md-4 fs-8 ff-nsft fw-bold pb-md-7 pb-2">展覽——我的房間</p>
        <p class="card-text ff-nsst fw-normal d-md-block d-none ">
          每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。
        </p>
        <p class="card-text ff-nsst fw-normal d-md-none d-block ">
          每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能...
        </p>
      </div>
    </a>
    <div
      class="card-footer bg-t px-0 py-md-7 py-2 d-flex justify-content-between border-bottom border-2 border-primary border-top-0">
      <div class="d-flex">
        <img src="../assets/images/sparkler.png" alt="sparkler" class="recent__item--sTitle me-1" />
        <a href="#"
          class="fs-6 ff-nsft text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-100-hover">展覽</a>
      </div>

      <a class="d-flex align-items-center position-relative  ff-nsst fw-bold" data-bs-toggle="modal"
        href="#modal__join--member">
        <span class="link-bgc-y-hover z-1">開賣中 &raquo;</span>
      </a>
    </div>
  </div>
</li>


<!-- <div class="recent__item--card swiper-slide col-md-4 col-12 d-flex">
  <div class="card bg-t border-0">
    <a href="single_event_page.html" class=" d-flex flex-column flex-grow-1">
      <div class="card-header bg-t px-0 py-0">
        <p
          class="card-title fs-md-10 fs-2 border-bottom border-3 border-primary mb-md-7 mb-3 fw-normal"
        >
        19 MAY 2023
        </p>
        <div class="recent__item--block">
          <img
            src="../assets/images/event/07.jpg"
            class="card-img-top recent__item--img"
            alt="event"
          />
        </div>
      </div>
      <div
        class="card-body px-0 pt-md-7 pb-3 pt-2 border-bottom border-2 border-primary"
      >
        <p class="fs-md-4 fs-8 ff-nsft fw-bold">野營音樂祭</p>
        <p class="card-text ff-nsst fw-normal d-md-block d-none ">
          喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15 項體驗與工作坊、新興音樂人的草地演唱。
        </p>
        <p class="card-text ff-nsst fw-normal d-md-none d-block ">
          喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15 項體驗與工作坊、新興音樂人的草地演唱。
        </p>
      </div>
    </a>
    <div
      class="card-footer bg-t px-0 py-md-7 py-2 d-flex justify-content-between border-bottom border-2 border-primary border-top-0"
    >
      <div class="d-flex">
        <img
          src="../assets/images/sparkler.png"
          alt="sparkler"
          class="recent__item--sTitle me-1"
        />
        <a
          href="#"
          class="fs-6 ff-nsft text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
          >社群活動</a
        >
      </div>

      <a
        class="d-flex align-items-center link-bgc-y-hover  ff-nsst fw-bold"
        data-bs-toggle="modal"
        href="#modal__join--member"
        >開賣中 &raquo;</a
      >
    </div>
  </div>
</div>

<div class="recent__item--card swiper-slide col-md-4 col-12 d-flex">
  <div class="card bg-t border-0">
    <a href="single_event_page.html" class=" d-flex flex-column flex-grow-1">
      <div class="card-header bg-t px-0 py-0">
        <p
          class="card-title fs-md-10 fs-2 border-bottom border-3 border-primary mb-md-7 mb-3 fw-normal"
        >
        19 MAY 2023
        </p>
        <div class="recent__item--block">
          <img
            src="../assets/images/event/08.jpg"
            class="card-img-top recent__item--img"
            alt="event"
          />
        </div>
      </div>
      <div
        class="card-body px-0 pt-md-7 pb-3 pt-2 border-bottom border-2 border-primary"
      >
        <p class="fs-md-4 fs-8 ff-nsft fw-bold">疊疊樂大賽</p>
        <p class="card-text ff-nsst fw-normal d-md-block d-none ">
          來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！
        </p>
        <p class="card-text ff-nsst fw-normal d-md-none d-block ">
          來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！
        </p>
      </div>
    </a>
    <div
      class="card-footer bg-t px-0 py-md-7 py-2 d-flex justify-content-between border-bottom border-2 border-primary border-top-0"
    >
      <div class="d-flex">
        <img
          src="../assets/images/sparkler.png"
          alt="sparkler"
          class="recent__item--sTitle me-1"
        />
        <a
          href="#"
          class="fs-6 ff-nsft text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
          >演出</a
        >
      </div>

      <a
        class="d-flex align-items-center link-bgc-y-hover  ff-nsst fw-bold"
        data-bs-toggle="modal"
        href="#modal__join--member"
        >開賣中 &raquo;</a
      >
    </div>
  </div>
</div>

<div class="recent__item--card swiper-slide col-md-4 col-12 d-flex">
  <div class="card bg-t border-0">
    <a href="single_event_page.html" class=" d-flex flex-column flex-grow-1">
      <div class="card-header bg-t px-0 py-0">
        <p
          class="card-title fs-md-10 fs-2 border-bottom border-3 border-primary mb-md-7 mb-3 fw-normal"
        >
        18 MAY 2023
        </p>
        <div class="recent__item--block">
          <img
            src="../assets/images/event/09.jpg"
            class="card-img-top recent__item--img"
            alt="event"
          />
        </div>
      </div>
      <div
        class="card-body px-0 pt-md-7 pb-3 pt-2 border-bottom border-2 border-primary"
      >
        <p class="fs-md-4 fs-8 ff-nsft fw-bold">返老還童-制服聯誼</p>
        <p class="card-text ff-nsst fw-normal d-md-block d-none ">
          由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！
        </p>
        <p class="card-text ff-nsst fw-normal d-md-none d-block ">
          由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你...
        </p>
      </div>
    </a>
    <div
      class="card-footer bg-t px-0 py-md-7 py-2 d-flex justify-content-between border-bottom border-2 border-primary border-top-0"
    >
      <div class="d-flex">
        <img
          src="../assets/images/sparkler.png"
          alt="sparkler"
          class="recent__item--sTitle me-1"
        />
        <a
          href="#"
          class="fs-6 ff-nsft text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
          >聯誼</a
        >
      </div>

      <a
        class="d-flex align-items-center link-bgc-y-hover  ff-nsst fw-bold"
        data-bs-toggle="modal"
        href="#modal__join--member"
        >開賣中 &raquo;</a
      >
    </div>
  </div>
</div>





<div class="recent__item--card swiper-slide col-md-4 col-12 d-flex">
  <div class="card bg-t border-0">
    <a href="single_event_page.html" class=" d-flex flex-column flex-grow-1">
      <div class="card-header bg-t px-0 py-0">
        <p
          class="card-title fs-md-10 fs-2 border-bottom border-3 border-primary mb-md-7 mb-3 fw-normal"
        >
        19 MAY 2023
        </p>
        <div class="recent__item--block">
          <img
            src="../assets/images/event/10.jpg"
            class="card-img-top recent__item--img"
            alt="event"
          />
        </div>
      </div>
      <div
        class="card-body px-0 pt-md-7 pb-3 pt-2 border-bottom border-2 border-primary"
      >
        <p class="fs-md-4 fs-8 ff-nsft fw-bold">野外求生17天</p>
        <p class="card-text ff-nsst fw-normal d-md-block d-none ">
          野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...
        </p>
        <p class="card-text ff-nsst fw-normal d-md-none d-block ">
          野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具...
        </p>
      </div>
    </a>
    <div
      class="card-footer bg-t px-0 py-md-7 py-2 d-flex justify-content-between border-bottom border-2 border-primary border-top-0"
    >
      <div class="d-flex">
        <img
          src="../assets/images/sparkler.png"
          alt="sparkler"
          class="recent__item--sTitle me-1"
        />
        <a
          href="#"
          class="fs-6 ff-nsft text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
          >戶外</a
        >
      </div>

      <a
        class="d-flex align-items-center link-bgc-y-hover  ff-nsst fw-bold"
        data-bs-toggle="modal"
        href="#modal__join--member"
        >開賣中 &raquo;</a
      >
    </div>
  </div>
</div>

<div class="recent__item--card swiper-slide col-md-4 col-12 d-flex">
  <div class="card bg-t border-0">
    <a href="single_event_page.html" class=" d-flex flex-column flex-grow-1">
      <div class="card-header bg-t px-0 py-0">
        <p
          class="card-title fs-md-10 fs-2 border-bottom border-3 border-primary mb-md-7 mb-3 fw-normal"
        >
        19 MAY 2023
        </p>
        <div class="recent__item--block">
          <img
            src="../assets/images/event/11.jpg"
            class="card-img-top recent__item--img"
            alt="event"
          />
        </div>
      </div>
      <div
        class="card-body px-0 pt-md-7 pb-3 pt-2 border-bottom border-2 border-primary"
      >
        <p class="fs-md-4 fs-8 ff-nsft fw-bold">耳熟能詳音樂祭</p>
        <p class="card-text ff-nsst fw-normal d-md-block d-none ">
          對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當 KTV 跟著唱，唱不出來服務台報到立馬退費！
        </p>
        <p class="card-text ff-nsst fw-normal d-md-none d-block ">
          對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當 KTV 跟著唱，唱不出來...
        </p>
      </div>
    </a>
    <div
      class="card-footer bg-t px-0 py-md-7 py-2 d-flex justify-content-between border-bottom border-2 border-primary border-top-0"
    >
      <div class="d-flex">
        <img
          src="../assets/images/sparkler.png"
          alt="sparkler"
          class="recent__item--sTitle me-1"
        />
        <a
          href="#"
          class="fs-6 ff-nsft text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
          >演出</a
        >
      </div>

      <a
        class="d-flex align-items-center link-bgc-y-hover  ff-nsst fw-bold"
        data-bs-toggle="modal"
        href="#modal__join--member"
        >開賣中 &raquo;</a
      >
    </div>
  </div>
</div>

<div class="recent__item--card swiper-slide col-md-4 col-12 d-flex">
  <div class="card bg-t border-0">
    <a href="single_event_page.html" class=" d-flex flex-column flex-grow-1">
      <div class="card-header bg-t px-0 py-0">
        <p
          class="card-title fs-md-10 fs-2 border-bottom border-3 border-primary mb-md-7 mb-3 fw-normal"
        >
        19 MAY 2023
        </p>
        <div class="recent__item--block">
          <img
            src="../assets/images/event/12.jpg"
            class="card-img-top recent__item--img"
            alt="event"
          />
        </div>
      </div>
      <div
        class="card-body px-0 pt-md-7 pb-3 pt-2 border-bottom border-2 border-primary"
      >
        <p class="fs-md-4 fs-8 ff-nsft fw-bold">野營發呆大賽</p>
        <p class="card-text ff-nsst fw-normal d-md-block d-none ">
          你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！
        </p>
        <p class="card-text ff-nsst fw-normal d-md-none d-block ">
          你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的...
        </p>
      </div>
    </a>
    <div
      class="card-footer bg-t px-0 py-md-7 py-2 d-flex justify-content-between border-bottom border-2 border-primary border-top-0"
    >
      <div class="d-flex">
        <img
          src="../assets/images/sparkler.png"
          alt="sparkler"
          class="recent__item--sTitle me-1"
        />
        <a
          href="#"
          class="fs-6 ff-nsft text-decoration-underline link-underline link-underline-opacity-0 link-underline-opacity-100-hover"
          >展覽</a
        >
      </div>

      <a
        class="d-flex align-items-center link-bgc-y-hover  ff-nsst fw-bold"
        data-bs-toggle="modal"
        href="#modal__join--member"
        >開賣中 &raquo;</a
      >
    </div>
  </div>
</div> -->