$ticket-bg: #f3f1e5; //ann
$primary: #030303; //ann $blue !default;
$secondary: #fbff22; //ann $gray-600 !default;
$other: #c96464; //ann
$dis: #9a9a9a; //ann


$theme-colors: (
  "b": $black,//ann
  "t": $ticket-bg,//ann
  "other": $other,//ann
  "dis": $dis, //ann
)
$spacers: (
  6: $spacer * 2,//ann 32
  7: $spacer * 0.75,//ann 12
  8: $spacer * 0.875,//ann 14
  20: $spacer * 1.25,//ann 20
  35: calc(($spacer * 2) + 3px),//ann 35
  38: calc(($spacer * 2) + 6px),//ann 38
)
$font-sizes: (
  7: $font-size-base * 0.875,//ann 14
  8: $font-size-base * 1.125,//ann 18
  9: $font-size-base * 3.75,//ann 60
  10: $font-size-base * 3,//ann 48
  11: $font-size-base * 4,//ann 64
)
