<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../assets/images/iconfont/icofont.min.css" />
    <link rel="stylesheet" href="../assets/images/iconfont/icofont.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
    <title>index</title>
</head>

<body class="bg-t">
    <%- include('./layout/header'); -%>
        <div class="container">
            <div class="single__event row pt-md-30 pt-3 mb-4">
                <div class="col-lg-10 col-md-12 mb-lg-0 mb-2">
                    <div class=" single__event--block border border-3 border-primary p-md-4 p-7">
                        <img src="../assets/images/event/09.jpg" alt="event" class="img-fluid w-100 h-100">
                    </div>
                </div>
                <div class="col-lg-2 col-12 d-flex flex-lg-column flex-row flex-grow-1">
                    <div class="row gx-2 gx-lg-0 flex-grow-1 flex-lg-grow-1">
                        <div class="col-lg-12 col-4 d-flex flex-column flex-shrink-1">
                            <div class="border border-3 border-primary p-md-4 p-7 mb-lg-2 mb-0 text-center">
                                2023</div>
                        </div>
                        <div class="col-lg-12 col-4 d-flex flex-column flex-grow-1">
                            <div class="border border-3 border-primary p-md-4 p-7 d-flex flex-column flex-grow-1">
                                2023
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single__event--contain">
                <h2 class="ff-nsft fs-md-9 fs-2 fw-bold ls-md-3 ls-2 mb-md-3 mb-2">返老還童-制服聯誼</h2>
                <p class="ff-nsst fs-md-12 fs-6 fw-normal lh-md-1 lh-base mb-4">穿上制服，無年齡限制，一起走上街頭、尋找青春才有的純愛心動！</p>
                <ul class="event__item--link list-unstyled d-md-flex d-none gap-2 mb-5">
                    <li>
                        <a href="#"
                            class="link__tag py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft">聯誼</a>
                    </li>
                    <li>
                        <a href="#"
                            class="link__tag py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft">美食</a>
                    </li>
                    <li>
                        <a href="#"
                            class="link__tag py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft">戶外</a>
                    </li>
                    <li>
                        <a href="#"
                            class="link__tag py-1 ps-md-20 ps-7 pe-md-4 pe-3 fs-md-6 fs-7 fw-bold ff-nsft">交通旅遊</a>
                    </li>
                </ul>
                <div class="bg-white border border-3 border-primary p-md-6 p-3 mb-md-5 mb-4">
                    <p class="ff-nsst mb-3 fw-normal lh-base">想回到過去？試著讓故事繼續？</p>
                    <p class="ff-nsst mb-3 fw-normal lh-base">
                        由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！制服由主辦方提供，妝髮造型可額外加價購！</p>
                    <p class="ff-nsst fw-normal lh-base ">活動中全程會有隨行攝影師，捕捉你們的純愛互動，拍攝成實境電視劇，讓你們能留下永恆的美好回憶&lt;3</p>
                </div>
                <div
                    class="border border-3 border-primary d-flex justify-content-between align-items-center py-md-4 px-md-6 py-3 px-7">
                    <h2 class="fs-md-11 fs-4 fw-normal ">TICKET</h2>
                    <h2 class="fs-md-2 fs-6 fw-bold  ff-nsft">購票資訊</h2>
                </div>
            </div>
            <table class="table table-hover bg-t mb-md-60 mb-5">
                <thead>
                    <tr class="ff-nsft fw-bold">
                        <th scope="col-2" class="ps-md-2 ps-0 ">活動日期</th>
                        <th scope="col-6">票種</th>
                        <th scope="col-2">票價</th>
                        <th scope="col-2" class="text-end pe-md-96 me-md-2">購票</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="ff-nsst fw-normal">
                        <th scope="row">2023/5/12</th>
                        <td>普通票</td>
                        <td>$600</td>
                        <td class="w-25 text-end pe-md-2">
                            <a href="./booking_confirmation.html"
                                class="btn btn-outline-primary py-2 px-4 ff-nsft link-color-ly-hover d-md-inline-block d-none">立即購票</a>
                            <a href="./booking_confirmation.html"
                                class=" btn btn-outline-primary ff-nsft fs-7 fw-bold py-2 px-7 link-color-ly-hover d-md-none d-inline-block">購票</a>
                        </td>
                    </tr>
                    <tr class="ff-nsst fw-normal">
                        <th scope="row">2023/5/12</th>
                        <td>改頭換面票（含大改造）</td>
                        <td>$3600</td>
                        <td class="w-25 text-end pe-md-2">
                            <a href="./booking_confirmation.html"
                                class="btn btn-outline-primary py-2 px-4 ff-nsft link-color-ly-hover d-md-inline-block d-none">立即購票</a>
                            <a href="./booking_confirmation.html"
                                class="btn btn-outline-primary ff-nsft fs-7 fw-bold py-2 px-7 link-color-ly-hover d-md-none d-inline-block">購票</a>
                        </td>
                    </tr>
                    <tr class="ff-nsst fw-normal">
                        <th scope="row">2023/5/12</th>
                        <td>必勝票（含戀愛小抄）</td>
                        <td>$8000</td>
                        <td class="w-25 text-end pe-md-2">
                            <a href="./booking_confirmation.html"
                                class="btn btn-outline-primary py-2 px-4 ff-nsft link-color-ly-hover d-md-inline-block d-none">立即購票</a>
                            <a href="./booking_confirmation.html"
                                class="btn btn-outline-primary ff-nsft fs-7 fw-bold py-2 px-7 link-color-ly-hover d-md-none d-inline-block">購票</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <%- include('./layout/footer'); -%>
            <%- include('./layout/marquee__'); -%>
                <script type="module" src="../main.js"></script>
</body>

</html>